/* about-section */
.about-section {
  background: var(--text-dark);
  padding-bottom: 3rem;
  padding-top: 5rem;
}

.about {
  background-color: var(--text-dark);
  padding: 40px 0;
  color: #ababab;
  min-height: 90vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--extra-light);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: var(--extra-light);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

.tech-stack {
  margin-top: 5rem;
}

.techStack-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  padding: 0 0 0 12px;
}

.techStack-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 100px;
  padding: 10px;
  height: 90px;
  border-radius: 5px;
  flex: 1 0 20%;
  margin: 1%;
}

.techStack-content img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .about-section {
    background: var(--text-dark);
    padding: 5rem 1rem 5rem 1rem;
    text-align: center;
  }

  .tab-titles {
    display: flex;
    margin: 20px 0 40px;
    justify-content: center;
    align-items: center;
  }

  .contact-section {
    padding: 5rem 1rem 5rem 1rem;
  }

  .contact .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .techStack-content {
    padding: 10px;
  }
}



.certification-container{
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  
}

