.section {
  background-color: var(--extra-light);
  padding-bottom: 3.5rem;
}

.section__container {
  min-height: 90vh;
  max-width: var(--max-width);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--text-dark);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--text-dark);
  color: #ffffff;
}

.hire__me:hover {
  background-color: #2a3d5a;
  color: var(--extra-light);
  border: 2px solid var(--text-dark);
}

.portfolio {
  color: var(--text-dark);
  background-color: var(--extra-light);
}

.portfolio:hover {
  background-color: var(--text-dark);
  color: var(--extra-light);
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(40rem, 90%);
  border-radius: 100%;
  margin-top: 50px;
}


@media only screen and (max-width: 900px) {
  .section__container {
    padding: 5rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .section {
    background-color: var(--extra-light);
    padding-bottom: 1px;
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

}

